<p>courses works!</p>
<div class="bgded overlay" style="background-image:url('../assets/images/Teo.jpeg');">

    <section class="hoc container clear">
        <main>
                    <div class="col-lg-12 profilehome">
                        <div class="row">
                            <div class="limiter">
                                <div class="container">
                                    <div class="col-md-12">
                                        <div class="table-wrap">
                                            <table class="table responsive">
                                                <thead class="thead-primary">
                                                    <tr>
                                                        <th>Course Name</th>
                                                        <th>Description</th>
                                                        <th>Duration</th>
                                                        <th>Fees</th>
                                                        <th>Apply for a course</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let Course of Courses">
                                                        <td class="column1">
                                                            {{Course.coursename}}
                                                        </td>
                                                        <td class="column1">
                                                            {{Course.coursedecs}}
                                                        </td>
                                                        <td class="column1">
                                                            {{Course.duration}}
                                                        </td>
                                                        <td class="column1">
                                                            {{Course.fee}}
                                                        </td>
                                                        <td class="column1">
                                                            <button class="btn btn-primary" (click)="apply(Course._id,Course.userid)">Apply Now</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <a routerLink="/professorhome"><button class="btn btn-primary">Back to Profile</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            <!-- </section> -->
        </main>
        <!-- ################################################################################################ -->
    </section>
</div>
