<div style="background-image: url('../assets/images/header1.jpg');">
<div id="pageintro" class="hoc clear" > 
      
  <article>
    <h3 class="heading"><span style="color: greenyellow;">E-Learning </span>for Online Courses</h3>
    <p style="color: rgb(62, 252, 45);font-weight: bolder;font-size: larger;">Rise through this easy learning platform.Enroll to the advanced courses offered by e-learning and enjoy learning.</p>
    <footer>
      <ul class="nospace inline pushright">
        <li><a class="btn" href="#">Read More </a></li>
        <!-- <li><a class="btn inverse" href="#">Register Now</a></li> -->
      </ul>
    </footer>
  </article>
 
</div>
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
 
    <section id="introblocks">
      <ul class="nospace group grid-3">
        <li class="one_third">
          <figure><a class="imgover" href="#"><img src="../assets/images/social image.png" alt=""></a>
            <figcaption><a href="#">Social Media Marketing</a></figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="imgover" href="#"><img src="../assets/images/fullstack.png" alt=""></a>
            <figcaption><a href="#">Full Stack Development</a></figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="imgover" href="#"><img src="../assets/images/onlinemba.jpg" alt=""></a>
            <figcaption><a href="#">Online MBA</a></figcaption>
          </figure>
        </li>
      </ul>
    </section>
  
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<div class="bgded overlay" style="background-image:url('../assets/images/header.jpg');">
  <section class="hoc container clear"> 

    <figure class="one_half first">
      <h6 class="heading">What are online courses?</h6>
      <p class="btmspace-30">An “online course is designed as a built environment for learning. ... It's a directed learning process, comprised of educational information (articles, videos, images, web links), communication (messaging, discussion forums) and some way to measure students' achievement.</p>
      <ul class="nospace clear points">
        <li><a href="#"><i class="fas fa-equals"></i></a>
          <h6 class="heading">Advantages of online courses</h6>
          <p>Online courses offer flexibility. You can study any time you want. You can study with whomever you want. You can study wearing anything you want</p>
        </li>
        <li><a href="#"><i class="fas fa-exclamation-circle"></i></a>
          <h6 class="heading">Effectiveness of online learning</h6>
          <p>Online learning is certainly the more effective option for students, but it's also better for the environment. The Open University in Britain have found that online courses equate to an average of 90% less energy and 85% fewer CO2 emissions per student than traditional in person courses.</p>
        </li>
      </ul>
    </figure>
   
  </section>
</div>

<div class="wrapper row3">
  <section id="services" class="hoc container clear"> 
   
    <div class="sectiontitle">
      <p class="nospace font-xs">Most Popular Online Courses</p>
      <h6 class="heading">We provide online courses related from all fields</h6>
    </div>
    <ul class="nospace group grid-3">
      <li class="one_third">
        <article><a href="#"></a>
          <h6 class="heading">Online hearthcare programms</h6>
          <p>There are many healthcare courses and helth related courses are available in online, like Health and Human Services.,Health Information Management.,Health Information Technology.,Health Sciences — Medical Administrative Assistant,Healthcare Accounting are some of them.</p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"></a>
          <h6 class="heading">Information technology online courses</h6>
          <p>What is the Information Technology course?
            Information technology is a rapidly growing field that offers secure positions for individuals with a minimum of a bachelor's degree in an IT-related field. ... IT encompasses all software and hardware used in the creation, storing and access of information.</p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"></a>
          <h6 class="heading">Learn science with online courses</h6>
          <p>These are just a few of the hundreds of science courses available online .Whether you're looking to complete your science requirements or gain new knowledge, our collection of science courses can help you meet your needs. You can complete all your courses online, in 5-7 weeks — even those with virtual labs.</p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"></a>
          <h6 class="heading">Electrical engineering courses-online</h6>
          <p>Electronics is a branch of physics concerned with the design of circuits and the study of electrons under a variety of conditions. Electronics also describes the field of Electrical Engineering and the design, function, and utilization of electronic devices and systems.</p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"></a>
          <h6 class="heading">Top Agriculture Courses</h6>
          <p>Agricultural Economics and Farm Management,Agricultural Extension and Rural Sociology,Nutrition and Dietetics,Plant pathology,Fisheries and Aquaculture Technology are some of the online courses available .</p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"></a>
          <h6 class="heading">Business online courses</h6>
          <p>MBA: This might go without saying, but a master's degree in business administration is without a doubt the top paying degree, all around.Master's in Finance,Bachelor's in Marketing and Bachelor's in Supply Chain Management are some other courses.</p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
    </ul>
  </section>
</div>




</div>
