

  <div class="bgded overlay" style="background-image:url('../assets/images/homeprofile.jpg');">
    <section class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        
        <h1 style="color: white;font-weight: bolder;font-family:Arial, Helvetica, sans-serif;font-size: x-large;"
        ><span style="color: crimson;">ONLINE LEARNING PLATFORM</span>-E LEARNING</h1>
      </div>
      <article id="points" class="group">
        <div class="two_third first">
          
          <h2 style="color: rgb(21, 131, 40);font-family:Verdana, Geneva, Tahoma, sans-serif">This is your current Apllication.</h2>
       
                                    <div class="limiter">
                            
                                            <div class="col-lg-12">
                                                <div class="table-wrap">
                                                    <table class="table responsive ">
                                                        <thead class="thead-primary" style="background-color: rgba(0, 0, 0, 0.685);">
                                                            <tr class="col-lg-12" style="width:100%;">
                                                                <th>Your Name</th>
                                                                <th>Courses applied for</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="col-lg-12" *ngFor = 'let studentData of studentDatas'>
                                                                <td >
                                                                    {{studentData.Name}}
                                                                </td>
                                                                <td>
                                                                    {{studentData.course}}
                                                                </td>
                                                                <td style="color: rgb(238, 146, 9);">
                                                                    {{studentData.status}}
                                                                </td>
                                                              
                                                 
                                                            </tr>
                                                            <tr class="col-lg-12" *ngFor = 'let StudentData of StudentDatas'>
                                                                <td >
                                                                    {{StudentData.Name}}
                                                                </td>
                                                                <td>
                                                                    {{StudentData.course}}
                                                                </td>
                                                                <td *ngIf= 'StudentData.status == "Accepted"' style="color: green;">
                                                                    {{StudentData.status}}
                                                                </td>
                                                                <td *ngIf= 'StudentData.status == "Rejected"' style="color: rgb(224, 34, 9);">
                                                                    {{StudentData.status}}
                                                                </td>
                                                 
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <a routerLink="/"><button class="btn btn-primary">Back to Home</button></a>
                                                <a routerLink='/courses'><button class="btn btn-primary">Choose courses</button></a>
                                        </div>
                                    </div>
        
                    <!-- </section> -->
 
                <!-- ################################################################################################ -->
   

        </div>
        <!-- <div class="one_third last"><a class="imgover" href="#"><img src="images/demo/348x394.png" alt=""></a></div> -->
      </article>
      <!-- ################################################################################################ -->
    </section>
  </div>


