<div class="bgded overlay" style="background-image:url('../assets/images/footer.webp');"> 

    <div>
      <footer id="footer" class="hoc clear"> 
      
        <div >
   
          <div class="one_quarter">
            <form action="#" method="post">
              <fieldset>
                <legend>Newsletter:</legend>
                <input class="btmspace-15" type="text" value="" placeholder="Name">
                <input class="btmspace-15" type="text" value="" placeholder="Email">
                <button class="btn" type="submit" value="submit">Submit</button>
              </fieldset>
            </form>
            <ul class="faico clear ">
              <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
            </ul>
          </div>
          
        </div>
     
        <hr class="btmspace-50">
        
        <nav>
          <ul class="nospace">
            <li><a routerLink="/"><i class="fas fa-lg fa-home"></i></a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Our Faculties</a></li>
            <li><a href="#">Terms&Conditions</a></li>
            <li><a href="#">Activities</a></li>
          </ul>
        </nav>
      
      </footer>
    </div>

  </div>

  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
